.advantages-page {
    background-image: url("../img/background-advantages-desktop@1x.webp");
    background-color: $bg-color;
    color: $main-color-dark; 
    .section__body {
        align-items: center;
        //justify-content: center;
        padding: 65px 0 65px;
    }
    .section__title {
        margin-bottom: 40px;
        align-self: center;
    }
    .section__content {
        display: inline-flex;
        flex-direction: column;
        gap: 30px;
    }
    .item {
        background-color: $main-color-light;
        padding: 25px 20px;
        max-width: 290px;
        &__title {
            margin: 25px 0 20px;
        }
        &__text {
            line-height: 180%;
        }

    }
}

@media only screen and (min-device-width: 768px) {
    .advantages-page {
        .section__content {
            flex-direction: row;
            gap: 30px;
            justify-content: space-between;
        }
        .item {
            flex-grow: 1;
            flex-basis: 0;
            max-width: 360px;
        }
    }
}