.benefits-page {
    background-color: $bg-color;
    color: $main-color-dark; 
    .section__body {
        //align-items: flex-start;
        //justify-content: center;
        padding: 65px 0 65px;
    }
    .section__title {
        margin-bottom: 40px;
        align-self: center;
    }
    .section__content {
        display: inline-flex;
        flex-direction: column;
        gap: 30px;
    }
    .item {
        background-color: $main-color-light;
        padding: 25px 20px;
        &__title {
            margin: 25px 0 20px;
        }
        &__text {
            line-height: 180%;
        }

    }

}