.booking-page {
    background-image: url('../img/background-booking@1x.webp');
    background-position: 65% bottom;
    background-repeat: no-repeat;  
    background-size: cover;
    background-color: $bg-color;
    color: $main-color-dark; 
    .section__body {
        align-items: center;
        padding: 65px 0 65px;
    }
    .section__text {
        margin: 25px 0 40px;
        padding: 0 15px;
        line-height: 160%;
        text-align: center;
    }
}