.contacts-page {
    background-color: $main-color-light;
    color: $main-color-dark; 
    .section__body {
        align-items: center;
        padding: 65px 0 65px;
    }
    .section__content  {
        width: 100vw;
        max-width: 100%;
    }
    .item {
        display: flex;
        align-self: flex-start;
        &-adress {
            margin-top: 40px;
            margin-bottom: 30px;
        }
        &-phone {
            margin-bottom: 40px;
        }
        &__icon {
            margin-right: 10px;
        }
    }
    .map-responsive iframe {
            width: 90vw;
            max-width: 1160px;
    }
}