.home-page {
    background-image: url("../img/background-home-mobile@1x.webp");
    background-color: $bg-color-reserv;
    background-position: center bottom;
    background-repeat: no-repeat;  
    background-size: cover;
    color: $main-color-light; 
    .section__body {
        //align-items: flex-start;
        //justify-content: center;
    }
    .section__title {
        margin-top: 40%;
        margin-bottom: 25px;
    }

}

@media (min-device-width: 768px) {
    .home-page {
    background-image: url("../img/background-home-desktop@1x.webp");
    background-position: 90% bottom;
    }
}
    