.home-page {
    background-image: url("../img/background-home-mobile@1x.webp");
    background-color: $bg-color-reserv;
    background-position: center bottom;
    background-repeat: no-repeat;  
    background-size: cover;
    color: $main-color-light; 
    min-height: 100vh;
    .section__title {
        margin-top: 37vh;
        margin-bottom: 20px;
    }

}

@media only screen and (min-device-width: 768px) {
    .home-page {
    background-image: url("../img/background-home-desktop@1x.webp");
    background-position: 90% bottom;
    }
}
    